@media screen and (max-width:425px) and (min-width:319px) {
    .profile-img {
        right: 28%;
    }

    .card-1 {
        padding: 0;
        justify-content: space-between;
    }

    .menus {
        padding: 10px 10px 0 10px;
    }

    .menus:last-child {
        padding: 10px 10px 0 0;
    }
}

@media screen and (max-width:1024px) and (min-width:767px) {
    .section-1 {
        position: fixed;
        margin: 20px;
        left: 0;
    }

    .section-2 {
        position: absolute;
        right: 0;
        margin: 20px;
    }

    .section-3 {
        position: absolute;
        top: 600px;
        right: 0;
        margin: 20px;
    }
}

@media screen and (min-width:1025px) {

    .section-1 {
        position: fixed;
        margin:20px;
    }

    .section-2 {
        position: fixed;
        left: 12%;
        width: 35%;
        padding: 0;
        z-index: 1;
    }

    .section-3 {
        position: absolute;
        top: 50px;
        right: 5%;
        width: 658px;
        height: 540px;
        overflow: auto;
        background-color: orange;
    }

    .section-3::-webkit-scrollbar {
        width: 6px;
        height: 8px;
    }

    .section-3::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 8px;
    }

    .menu{
        width:72px;
        height:68px;
        margin-right: 30px;
    }
}